/* 
  /* About.css */
  .aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    /* border: 15px solid rgb(212, 196, 212); */
  }
  
  /* Styles for the left side with text content */
  .aboutContainer > div:first-child {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .aboutContainer h1 {
    font-size: 1.5rem;
    color: teal;
    margin-bottom: 10px;  
  }
  
  .aboutContainer h3 {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20px;
    font-weight: 300px;
  }
  
  .aboutContainer p {
    font-size: rem;
    color: #777;
  }
  
  /* Styles for the image */
  .aboutContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 0;
  }
  
  /* Styles for the right side with the experience component */
  .aboutContainer > div:last-child {
    flex: 1;
  }
  
  /* Additional styles for the Chrono component (you may need to adjust these) */
  .my-card {
    background-color: transparent;
    border: none;
  }
  
  .my-card-title {
    font-size: 1.2rem;
    color: teal;
  }
  
  .my-card-subtitle {
    font-size: 0.85rem;
    color: #333;
  }
  
  .my-card-text {
    font-size: 0.8rem;
    color: #555;
  }
  
  .sectionsContainer{
    display: flex;
  }