.background{
  background-image: url("/homepage2.avif");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}


  .containerHome {
    max-width: 950px;
    margin: 0 auto;
  }

  .hero {
    text-align: center;
    padding: 90px 90px;
  }
  
  .hero h1 {
    font-size: 50px;
    font-weight: 300;
    color: #569b85; 
  }
  
  .hero h2 {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #e4e4e4; 
  }
  
  .hero p {
    font-size: 15px;
    color: #ecececc5;
    font-weight: 300;
  } 


  .view-projects-button {
    display: inline-block;
    background-color: #3a3a3a;
    color:  #569b85;
    padding: 10px 23px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 200;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: 25px;
    margin-top: 35px;
  }
  
  .view-projects-button:hover {
    background-color: #569b85; 
    color: #3a3a3a;
    transform: scale(1.03); 
  }