@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* .cards {
    border: 5px solid rgb(72, 209, 179);
}  */

.projects{
    /* border: 5px solid rgb(187, 19, 19); */
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.projects img {
    max-width: 100%;
  }
  


/* .card__imginfo  {
    visibility: hidden; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
} */

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
    border: 15px solid rgb(212, 196, 212);
}

/* .sizeImage{
    border: 3px solid rgb(162, 41, 162);
} */

/* .card__img--hoverh{
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 70px;
    position: absolute;
    height: 40px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    left: 0;
    object-fit: fill;
} */


.card {
  /* transition: all .8s cubic-bezier(0.175, 0.885, 0, 1); */
  background-color: #a8a2b5;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
  /* padding: 5px; */
  /* border: 5px solid rgb(85, 187, 54); */
  max-width: 400px;
  height: 480px;
  /* display:flex; */


}

.card:hover{  box-shadow: 5px 5px 50px 5px rgba(0, 0, 0,0.1);
transform: scale(1.05, 1.05);}


.card__info {
   border-bottom-left-radius: 12px;
   border-bottom-right-radius: 12px;
   /* border: 5px solid rgb(169, 16, 144); */
   padding: 20px;

}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 15px;
    font-weight: 300;
    color: #ffffff;
    padding: 10px;
}

.card__description {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    /* border: 5px solid rgb(24, 42, 19); */
    margin-right: 10px;
    margin-left: 10px;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #f7f7f6;
}

.card__author {
    font-weight: 300;
    text-decoration: none;
    color: #f0efee;
}
/* 
.card:hover .card__img--hover {
    height: 20%;
    opacity: 0.07;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info--hover {
    opacity: 0.5;
} */


.mainText{
  margin-top: 40px;
  padding: 5px;
  font-size: 15px;
  color: rgb(59, 61, 62);
  font-weight: 150;
}

.titleProjects{
  color: rgb(76, 75, 75);
  font-weight: 150;
}

.containerProjects{
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 80px;
}

button.primary.ghost {
	background-color: transparent;
	color:  #96a88c;
}